[user]
  email = michael@ramyun.co.uk
  name = Michael Barlow
[core]
  editor = nvim
[push]
  autoSetupRemote = true
[pull]
  rebase = true
[alias]
  tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
  s = status
  f = fetch
  rbm = rebase origin/main
  ca = commit --amend
  ds = diff --staged
  pf = push --force-with-lease
  rbc = rebase --continue
[core]
  excludesFile = ~/.gitignore
