[user]
  email = michael@ramyun.co.uk
  name = Michael Barlow
[core]
  editor = nvim
[push]
  autoSetupRemote = true
[alias]
  tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
  s = status
  ds = diff --staged
[core]
  excludesFile = ~/.gitignore
